    body{ 
            
            background: linear-gradient(to left,  blueviolet, white,blueviolet);
            font: normal 15pt arial;
            text-align: center; 
    }
    h1{
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    section{
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            max-width: 400px;
            margin: auto;
            margin-bottom: 10px;
            box-shadow: 5px 5px 10px black;
    }
    img{
        max-width: 400px;
        border-radius: 10px;
    }
         @media(max-width: 400px){
            img{
            max-width: 300px;
            border-radius: 10px;
         } 
    }
    input{
        padding: 8px;
        margin-right: 8px;
        margin-top: 20px;
    }

    button{
        letter-spacing: 1.5px;
        padding: 8px 16px;
        border-radius: 5px;
        background-color: blueviolet;
        color: white;
        transition: .4s;
    }
    button:hover{
        letter-spacing: 4px;
        background-color: darkviolet;
    }

    .footer2{
        margin: 20px;
        font-size : 20px;
    }

    li{
        font-size: 35px;
        margin: 5px;
        list-style: none;
        display: inline;
    }
    a{
        color: black;
    }
    a:hover{
        color: blueviolet;
    }
   
